{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('       {{ url_for("static",filename='img/about-bg.jpg') }}     ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a student at JIIT, Noida with experience working on Projects based on Django, Flask, Machine learning, Deep learning, Android.</p>
        <p>I am handy with data structures and algorithms to fuel my wish to be a good competitive programmer.</p>
        <p>Fueled by my passion for understanding the why and how, I consider myself a ‘forever student,’ eager to both build on my academic foundations and stay in tune with the latest advancements in every field related to my interests.</p>
        <p>I believe mindfulness in the workplace is key to success - a tenet I live out through my morning workout. I am currently working as a freelance developer and always interested in a challenge.</p>
        <p>Although all the above-mentioned fields are my hobbies and interest that's why I am here but these are not all cricket, volleyball, learning about international diplomacy are inseparable parts of my life.</p>
        <a class="nav-link" href="https://drive.google.com/file/d/1Bo8KMuL1vVlzjkYXh4lDsKqLKEGOFZYl/view?usp=sharing" target="_blank"><span style="color: red">See my Resume here</span></a>
      </div>
    </div>
  </div>

{% endblock %}