{% extends "layout.html" %}
{% block body %}
 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('       {{ url_for("static",filename='img/post-bg.jpg') }}     ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>See my all blogs here</h1>
            <span class="subheading">I am waiting for your review...</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <h1 ><a href="/post.html/{{post.slug}}">{{ post.Title }}</a></h1>
        
        <div class="post-preview">
            <h4 class="subheading">
              {{ post.Subheading }}
            </h4>   
          <p class="post-meta">Posted by
            <a href="about.html">{{ post.Author}}</a>
            on {{post.Date}}</p>
            {{post.Content[0:50]}}.....
        </div>
        <hr>
        {% endfor %}  
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}